@tailwind base;
@tailwind components;
@tailwind utilities;

.movie-card {
    width: 18%;
}

@media only screen and (max-width: 1100px) {
    .movie-card {
        width: 22%;
    }
}

@media only screen and (max-width: 768px) {
    .movie-card {
        width: 30%;
    }
}

@media only screen and (max-width: 596px) {
    .movie-card {
        width: 45%;
    }
}

@media only screen and (max-width: 420px) {
    .movie-card {
        width: 90%;
    }
}
